<launch>
    <node pkg="md201x_node" type="md201x_node" name="motor1" output="screen">
        <param name="bid" value="fff" />
        <param name="name" value="motor1" />
    </node>

    <node pkg="md201x_node" type="md201x_node" name="auaua" output="screen">
        <param name="bid" value="4cc" />
        <param name="name" value="auaua" />
    </node>

    <node pkg="solenoid_driver_node" type="solenoid_driver_node" name="unchi" output="screen">
        <param name="bid" value="500" />
        <param name="name" value="unchi" />
    </node>
</launch>